.num-cell {
	text-align: right;
	}
.money-col {
	width: 6em;
	}
.tax-col {
	width: 4em;
	}
.acct-submit-btn {
	width: 6em;
	background-color: green;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	}
#charge_mult {
	text-align: right;
	width: 2em;
	}
#pay_mult {
	text-align: right;
	width: 2em;
	}
