.rounded-corners-10 {
	border-radius: 10px;
	}
.rounded-corners-5 {
	border-radius: 5px;
	}
body {
	/*background-color: #cedbe4;*/
	background: rgba(247,251,253,1);
	background: -moz-linear-gradient(left, rgba(247,251,253,1) 0%, rgba(205,231,238,1) 41%, rgba(128,161,183,1) 100%);
	background: -webkit-linear-gradient(left, rgba(247,251,253,1) 0%, rgba(205,231,238,1) 41%, rgba(128,161,183,1) 100%);
	background: linear-gradient(to right, rgba(247,251,253,1) 0%, rgba(205,231,238,1) 41%, rgba(128,161,183,1) 100%);
	}
#selector {
	font-size: 120%;
	margin-bottom: 4px;
	width: 10em;
	}
#bigtitle {
	color: white;
	text-shadow: 2px 2px #666;
	font-size: 230%;
	margin-bottom: 0;
	margin-top: 0;
	}
.admin-light {
	color: white;
	font-weight: bold;
	background-color: #537a94;
	border: 1px solid white;
	padding: 2px;
	width: 6em;
	text-align: center;
	}
.hcell {
	border: 1px solid gray;
	padding: 4px;
	color: white;
	background-color: #537a94;
	}
.bcell {
	border: 1px solid gray;
	padding: 4px;
	}
#help-dialog {
	display: none;
	border: 1px solid gray;
	min-width: 14em;
	max-width: 50em;
	padding: 4px;
	background-color: #537a94;
	font-weight: bold;
	color: black;
	margin-top: 3px;
	}
#help-dialog li {
	margin-bottom: 0.3em;
	}
#squawk-dialog {
	display: none;
	width: 40em;
	padding: 4px;
	}
.squawk-btn {
	width: 6em;
	}
#stats-dialog {
	display: none;
	border: 1px solid gray;
	min-width: 14em;
	padding: 3px;
	background-color: #537a94;
	font-weight: bold;
	color: black;
	margin-top: 0px;
	}
#version-no {
	float: left;
	padding-top: 60px;
	font-size: 50%;
	}
#header-hider {
	float: right;
	font-size: 75%;
	margin-right: 4em;
	color: #555;
	}
