body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	}
.search-track {
	display: none;
	}
.pilot-menu {
	width: 12em;
	}
.call-dialog {
	border: 3px ridge black;
	padding: 4px;
	background-color: white;
	margin: 3px;
	}
#content {
	margin-left: 4px;
	margin-top: 4px;
	}
input[type=text] {
	height: 1em;
	min-height: 1em;
	max-height: 1em;
	background-color: white;
	}
.blank-form {
	width: 96%;
	height: 1em;
	min-height: 1em;
	max-height: 1em;
	}
.filled-form {
	width: 96%;
	height: 1em;
	min-height: 1em;
	max-height: 1em;
	border: 2px inset #dddddd;
	padding-left: 3px;
	}
#manifast-dialog {
	display: none;
	border: 1px solid gray;
	min-width: 14em;
	max-width: 25em;
	padding: 4px;
	min-height: 10em;
	background-color: #537a94;
	font-weight: bold;
	color: white;
	margin-top: 3px;
	box-shadow: 14px 14px 6px 0px rgba(0,0,0,0.75);
	}
#people-dialog {
	display: none;
	border: 1px solid gray;
	min-width: 14em;
	padding: 4px;
	min-height: 10em;
	background-color: #537a94;
	color: black;
	margin-top: 3px;
	}
.ui-tabs .ui-tabs-panel {
	padding: 1em 1.4em 1em 0;
	}
.selectable .ui-selecting {
	background: #537a94;
	color: white;
	font-weight: bold;
	}
.selectable .ui-selected {
	background: #537a94;
	color: white;
	font-weight: bold;
	}
.manifast-btn {
	background-image: url(/img/people.png);
	background-position: center;
	background-repeat: no-repeat;
	}
.load-sheets {
	/* when showing only one aircraft */
	margin-top: 0.5em;
	overflow: auto;
	height: 60vh;
	max-height: 60vh;
	resize: horizontal;
	}
.load-sheets-inline {
	/* per aircraft, when showing all */
	margin-top: 0.5em;
	overflow: auto;
	height: 60vh;
	max-height: 60vh;
	resize: none;
	}
.load-sheets-all {
	/* all aircraft, load sheets in single column per */
	margin-top: 0.5em;
	overflow: auto;
	resize: horizontal;
	}
.load-sheets-printable {
	margin-top: 0.5em;
	width: 100%;
	}
#manifest_chart {
	border: 2px #1c2931 solid;
	}
.stats-title {
	text-align: center;
	font-weight: bold;
	font-size: 115%;
	}
.stats-box {
	border: 1px solid gray;
	padding: 0.2em;
	margin-top: 0em;
	max-height: 36em;
	overflow: auto;
	background-color: white;
	}
.grid_table {
	width: 100%;
	}
.grid_data_cell {
	border: 1px solid gray;
	text-align: right;
	min-width: 5em;
	}
.grid_row_label {
	background-color: #537a94;
	padding: 4px;
	color: white;
	font-weight: bold;
	text-align: center;
	border: 1px solid gray;
	}
.grid_header_label {
	background-color: #537a94;
	padding: 4px;
	color: white;
	font-weight: bold;
	border: 1px solid gray;
	}
.scratch {
	font-size: 50%;
	color: white;
	font-weight: bold;
	background-color: #946d52;
	}
.load-number {
	float: left;
	font-weight: bold;
	font-size: 120%;
	color: white;
	width: 2em;
	text-align: right;
	margin-right: 1em;
	}
.load-sheet {
	width: 28em;
	max-width: 28em;
	min-width: 28em;
	margin: 0px;
	border: 6px solid gray;
	padding: 0px;
	page-break-inside: avoid;
	}
.load-sheet-mob {
	width: 100%;
	margin: 0px;
	border: 6px solid gray;
	padding: 0px;
	margin-bottom: 4px;
	}
.load_call {
	float: right;
	font-size: 200%;
	color: #945259;
	font-weight: bold;
	}
.sload_call {
	float: right;
	font-size: 120%;
	color: #945259;
	font-weight: bold;
	margin-top: 0.5em;
	}
.tail_num {
	font-family: monospace;
	font-weight: bold;
	}
.row_select {
	text-align: right;
	font-size: 75%;
	width: 1.5em;
	border: 1px solid gray;
	}
.big_nickname {
	font-weight: bold;
	font-size: 200%;
	color: #537a94;
	}
.load-select {
	width: 100%;
	text-align: right;
	}
.role-header {
	text-align: center;
	width: 3em;
	color: white;
	font-weight: bold;
	}
.role-option {
	width: 8em;
	font-weight: bold;
	text-align: center;
	}
