.people-detail-hdr {
	color: #537a94;
	font-weight: bold;
	}
.people-detail-label {
	text-align: right;
	}
.people-detail-section {
	width: 21em;
	float: left;
	border: 1px solid gray;
	padding: 3px;
	margin: 3px;
	}
.people-note-entry-cell {
	border: 1px solid gray;
	padding: 2px;
	}
.people-detail-btn {
	width: 6em;
	background-color: #537a94;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	}
.people-detail-btn:disabled {
	background-color: #bbbbbb;
	}
