<style type="text/css" scoped="scoped">
@import url("/css/accounting_lib.css");
.selectable .ui-selecting {
	background: #537a94;
	color: white;
	font-weight: bold;
	}
.selectable .ui-selected {
	background: #537a94;
	color: white;
	font-weight: bold;
	}
.acct-ref {
	width: 4em;
	}
input[type="button"][disabled] {
	background-color: #bbbbbb;
	}
.scratch {
	font-size: 50%;
	color: white;
	font-weight: bold;
	background-color: #946d52;
	}
.scratch:disabled {
	background-color: #bbbbbb;
	}
input[type="text"][disabled] {
	color: black;
	border: 0px;
	background-color: inherit;
	}
#summary {
	background-color: white;
	border: 2px gray ridge;
	width: 46em;
	margin-top: 1em;
	float: left;
	}
#payment {
	background-color: white;
	border: 2px gray ridge;
	width: 24em;
	margin-top: 1em;
	margin-left: 0.5em;
	float: left;
	display: none;
	}
#chart-header {
	margin-bottom: 0px;
	/*border-collapse: collapse;*/
	/*width: 62.5em;*/
	}
#chart-wrap {
	overflow: auto;
	max-height: 20em;
	width: 71.9em;
	}
#chart-table {
	margin-top: 0px;
	/*border-collapse: collapse;*/
	border: 0px;
	}
.chart-cell {
	border: 1px solid gray;
	}
.tint-row {
	background-color: #dddddd;
	}
.plain-row {
	background-color: white;
	}
.neg-amount {
	color: red;
	}
.pos-amount {
	color: black;
	}
.account-hdr {
	text-align: center;
	font-weight: bold;
	color: white;
	border: 1px solid gray;
	background-color: #537a94
	}
.date-col {
	width: 7em;
	}
.descr-col {
	width: 24em;
	}
.xfer-col {
	width: 16em;
	}
.del-col {
	width: 3em;
	}
.card-col {
	width: 2em;
	}
.cell-box {
	border: 0px;
	background-color: #fef5ca;
	width: 98%;
	}
.ui-menu {
	border: 1px solid gray;
	}
.scroll-ledger {
	margin-bottom: 1em;
	max-height: 16em;
	overflow: auto;
	}
.charge-widget {
	width: 15em;
	min-width: 15em;
	max-width: 15em;
	}
.label {
	text-align: right;
	}
#special-acct-dialog {
	display: none;
	}
.swipe-group {
	display: none;
	}
.spinner {
	position: fixed;
	top: 50%;
	left: 30%;
	margin-left: -33px;
	margin-top: 3em;
	text-align:center;
	color: #444444;
	z-index:1234;
	width: 66px;
	height: 66px;
	}
</style>
<div style="margin-top: 1em">
Account: <select id="acct" onchange="select_acct()">
</select>
<input type="text" id="acct_srch" disabled="disabled"
	onfocus="live_search(this)"/>
view: <select id="view-limit"
		onchange="select_acct()" title="most recent transactions">
<option value="50">50</option>
<option value="100" selected="selected">100</option>
<option value="200">200</option>
<option value="500">500</option>
<option value="0">All</option>
</select>
&nbsp;<input type="button" value="REF"
			title="reload this account (if normal update doesn't happen)"
			id="refresh-btn"
			disabled="disabled"
			onclick="refresh_current_account()"/>
&nbsp;<img style="display: none" id="person-notes" src="/img/notepad-16.png" alt="notes"/>
<div id="controls" style="margin-top: 1em"></div>
</div>
<div id="chart"></div>
<div style="margin-top: 1em">
<div id="summary" class="rounded-corners-10"></div>
<div id="payment" class="rounded-corners-10">
<table>
<tr><td colspan="2" style="font-weight: bold; text-align: center">
Credit <span id="cust-name">Customer</span>'s Account
</td></tr>
<tr><td class="label"><abbr title="base amount + card fee, if any">Amount</abbr>:</td>
<td><input type="text" style="text-align: right; width: 8em"
	tabindex="1"
	value=""
	onchange="Payment.show_fee()"
	onkeyup="Payment.show_fee()"
	id="pay-amount"/> <b>+</b>
<input type="text" readonly="readonly"
	title="card processing fee"
	style="text-align: right; width: 4em"
	id="pay-fee"/>
</td></tr>
<tr id="waive-row"><td></td>
<td><input type="checkbox"
	onclick="Payment.show_fee()"
	id="waive-fee"/>DZ pays card fee</td>
</tr>
<tr><td class="label"><abbr title="address to send confirmation">Email</abbr>:</td>
<td><input type="text" class="charge-widget" tabindex="2"
	id="pay-email"/></td></tr>
<tr><td class="label"><abbr title="select a previous card, new card or check/cash">Pay With</abbr>:</td>
<td><select id="charge-to"
	class="charge-widget"
	onchange="enable_pay_button()"
	style="text-align: center" tabindex="3"></select></td></tr>
<tr class="swipe-group"><td>Card#:</td>
<td><input type="text"
		placeholder="click in here before swiping!"
		id="card-swipe-cardno" size="20"/>
</td></tr>
<tr class="swipe-group"><td>Name:</td>
<td><input type="text" placeholder="optional"
		id="card-swipe-name" size="20"/>
</td></tr>
<tr class="swipe-group"><td>Expires:</td>
<td>
<input type="text" id="card-swipe-month"
	placeholder="mm"
	size="2" maxlength="2"/>/<input type="text" id="card-swipe-year"
	placeholder="yy(yy)" size="4" maxlength="4"/>
</td></tr>
<tr class="swipe-group">
<td><abbr title="3-digit security code on back of card">CVC</abbr>:</td>
<td><input type="text" id="card-swipe-cvc" size="3"/>
</td></tr>
<tr class="swipe-group"><td><abbr
	title="card's billing address zipcode">Zipcode<abbr>:</td>
<td><input type="text" id="card-swipe-zip" size="5"/>
<input type="button" style="margin-left: 1em" value="Clear"
	onclick="Payment.wipe_form(true)"
	title="reset card data entry form"/>
</td></tr>
<tr class="swipe-group">
<td align="right"><input type="checkbox" id="card-remember"/></td>
<td><abbr title="keep card securely on file for future use">remember this card</abbr></td>
</tr>
<tr><td></td>
<td><input type="button" tabindex="4"
	class="charge-widget"
	id="pay-button"
	value="Submit Charge"
	onclick="Payment.pay_up(card_response)"/></td>
</tr>
</table>
</div>
<div style="clear: left"></div>
<div id="special-acct-dialog"
	title="Special Account" class="rounded-corners-5">
<table>
<tr><td>Name:</td>
<td><input type="text" id="special-name"/></td></tr>
<tr><td style="vertical-align: top">Description:</td>
<td><textarea style="width: 20em; height: 5em"
		id="special-desc"></textarea></td></tr>
<tr><td></td>
<td>
<input type="button" value="Create" onclick="create_account()"/>
<input type="button" value="Cancel" onclick="cancel_create()"/>
</td></tr>
</table>
</div>
</div>
<div id="spinner" class="spinner">
<img src="/img/spinner.gif" alt="Loading..."/>
Loading...
</div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="/js/payment.js"></script>
<script type="text/javascript" src="/js/longpoll.js"></script>
