<style type="text/css" scoped>
.hcell {
	border: 1px solid gray;
	padding: 4px;
	color: white;
	background-color: #537a94;
	font-weight: bold;
	vertical-align: middle;
	width: 100%;
	}
.bcell {
	border: 1px solid gray;
	padding: 4px;
	background-color: white;
	width: 100%;
	white-space: nowrap;
	}
.bncell {
	border: 1px solid gray;
	padding: 4px;
	background-color: white;
	width: 100%;
	white-space: nowrap;
	text-align: right;
	}
.detcell {
	border: 1px solid gray;
	padding: 3px;
	background-color: white;
	}
.label {
	text-align: right;
	}
.detinp {
	width: 8em;
	}
.detinpn {
	width: 4em;
	text-align: right;
	}
.scratch {
	font-size: 50%;
	color: white;
	font-weight: bold;
	background-color: #946d52;
	}
.scratch:disabled {
	background-color: #bbbbbb;
	}
.btn {
	width: 6em;
	}
#title {
	color: #537a94;
	}
#aircraft_chart {
	border: 2px #1c2931 solid;
	margin-bottom: 0.5em
	}
</style>
<div>
<input type="checkbox" id="inactive"
	onclick="toggle_inactive()"/>show inactive aircraft
</div>
<div id="aircraft_chart" class="rounded-corners-10"
	style="padding: 3px; background-color: #eeeeee"></div>
<input type="button" id="new_btn" value="New"
	class="btn rounded-corners-5"
	onclick="aircraft_new()"/>
<input type="button" class="btn rounded-corners-5" value="Help"
	onclick="Help.open_wiki('Aircraft')"/>
