<style type="text/css" scoped>
#chkdir-msg {
	font-weight: bold;
	}
#backups-list {
	margin-top: 0.5em;
	border: 2px #1c2931 solid;
	height: 20em;
	overflow: auto;
	}
.tcell {
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
	background-color: white;
	border: 1px solid gray;
	}
.bcell {
	width: 1em;
	}
.ncell {
	padding-left: 3px;
	padding-right: 3px;
	background-color: white;
	border: 1px solid gray;
	width: 99%;
	}
.tint-row {
	background-color: #dddddd;
	}
.plain-row {
	}
.snapshot {
	width: 12em;
	}
button {
	padding-top: 4px;
	}
.chart-btn {
	padding: 0px;
	padding-top: 2px;
	}
#backup-note {
	width: 30em;
	}
.spinner {
	position: fixed;
	top: 50%;
	left: 30%;
	margin-left: -33px;
	margin-top: -33px;
	text-align:center;
	color: #444444;
	z-index:1234;
	width: 66px;
	height: 66px;
	display: none;
	}
#master-panel {
	display: none;
	}
</style>
<div style="width: 60em">
<div style="margin-top: 2em">
<span id="chkdir-msg"></span>
</div>
<div style="margin-top: 0.5em">
<table>
<tr>
<td><input type="button" id="backup-btn" value="Take Snapshot"
	class="snapshot"
	onclick="make_backup()"/></td>
<td><abbr title="optional description/reminder">note</abbr>:</td>
<td><input type="text" id="backup-note"/></td>
</tr>
<tr>
<td><input type="button" id="backup-btn" value="Upload Snapshot"
	class="snapshot"
	onclick="upload_backup()"/></td>
<td></td>
<td>
<form name="upsnap" id="upsnap" action="/backups"
	enctype="multipart/form-data" method="post">
<input type="file" name="upsnap_file" id="upsnap_file"/>
</form>
</td>
</tr>
<tr id="master-panel">
<td><input type="button" value="Master Download"
	onclick="download_master()"
	class="snapshot"/></td>
<td></td>
<td><input type="button" value="Master Upload"
	class="snapshot"/></td>
</tr>
</table>
</div>
<div id="backups-list"></div>
<div id="spinner" class="spinner">
<img src="/img/spinner.gif" alt="Saving..."/>
saving...
</div>
</div>
<script type="text/javascript">
var can_write = false;
var old_msg;
var db_master = false;
function upload_backup() {
	document.forms["upsnap"].submit();
	}
function split_stamp(stamp) {
	var match = /(\d\d\d\d)(\d\d)(\d\d)(\d\d)(\d\d)(\d\d)/.exec(stamp);
	return match[1] + "-" + match[2] + "-" + match[3] +
		" " + match[4] + ":" + match[5] + ":" + match[6];
	}
function restore(entry_key) {
	var fmt = split_stamp(entry_key);
	local_confirm("Backups", "Yes", "No",
		function() {
			var box = document.getElementById("chkdir-msg");
			old_msg = box.innerHTML;
			box.innerHTML = "restoring from " + fmt + "...";
			$.get("/backups/restore", { key: entry_key },
				function(resp) {
					document.getElementById("chkdir-msg").innerHTML =
						old_msg;
					if (resp.status)
						local_alert("Restore Finished", "Success!");
					else local_alert("Restore Failed", resp.msg);
					}, "json");
			}, null,
		"Restore from backup " + fmt + "?");
	}
function expentry(entry_key) {
	window.location = "/backups/download?key=" + entry_key;
	}
function delentry(entry_key) {
	local_confirm("Backups", "Yes", "No",
		function() {
			$.get("/backups/delete", { key: entry_key },
					function(resp) { get_list(); }, "json");
			}, null,
		"Delete backup " + split_stamp(entry_key) + "?");
	}
function make_backup() {
	document.getElementById("backup-btn").disabled = true;
	$.get("/backups/make",
			{ note: document.getElementById("backup-note").value },
			function(resp) {
				$("#spinner").hide();
				if (resp.status) {
					document.getElementById("backup-btn").disabled =
						false;
					get_list();
					}
				else local_alert("Snapshot Failed", resp.msg);
				},
			"json");
	document.getElementById("backups-list").innerHTML = "";
	$("#spinner").show();
	}
function get_list() {
	$.get("/backups/list", { },
			function(resp) {
				document.getElementById("backups-list").innerHTML =
					resp.table;
				},
			"json");
	}
function show_dir() {
	$.get("/backups/gdir", {},
			function(resp) {
				if (resp.db_master) {
					db_master = resp.db_master;
					document.getElementById("master-panel").style.display
						= "table-row";
					}
				document.getElementById("backups-dir").value = resp.dir;
				check_dir_access();
				},
			"json");
	}
function check_dir_access() {
	var dir = document.getElementById("backups-dir").value;
	$.get("/backups/chkdir", { dir: dir },
			function(resp) {
				can_write = resp.can_write;
				var box = document.getElementById("chkdir-msg");
				if (can_write) box.style.color = "green";
				else box.style.color = "red";
				box.innerHTML = resp.msg;
				get_list();
				},
			"json");
	}
function init() {
	mark_page("Backups");
	get_list();
	}
function logout() {
	$.get("/login/logout", {},
		function(resp) { window.location = "/manifest"; },
		"json");
	}
function download_master() {
	if (!db_master) return;
	$.get("/backups/mrdl", {},
		function(resp) {
			$("#spinner").hide();
			if (resp.status) get_list();
			else alert(resp.msg);
			}, "json");
	$("#spinner").show();
	}
</script>
