<link rel="stylesheet" href="/css/people.css"/>
<style type="text/css">
.checkbox-cell {
	width: 30em;
	}
.log-table {
	table-layout: fixed;
	width: 34em;
	min-width: 34em;
	max-width: 34em;
	}
.ledger-table {
	table-layout: fixed;
	width: 52em;
	min-width: 52em;
	max-width: 52em;
	}
.log-cell {
	background-color: white;
	border: 1px solid gray;
	padding: 3px;
	white-space: nowrap;
	}
.date-cell {
	background-color: white;
	border: 1px solid gray;
	padding: 3px;
	white-space: nowrap;
	width: 6em;
	min-width: 6em;
	max-width: 6em;
	}
.ledger-acct-cell {
	background-color: white;
	border: 1px solid gray;
	padding: 3px;
	white-space: nowrap;
	width: 8em;
	min-width: 8em;
	max-width: 8em;
	}
.ledger-detail-cell {
	background-color: white;
	border: 1px solid gray;
	padding: 3px;
	white-space: nowrap;
	width: 20em;
	min-width: 20em;
	max-width: 20em;
	}
.money-cell {
	background-color: white;
	border: 1px solid gray;
	padding: 3px;
	white-space: nowrap;
	width: 5em;
	min-width: 5em;
	max-width: 5em;
	text-align: right;
	}
.aircraft-cell {
	background-color: white;
	border: 1px solid gray;
	padding: 3px;
	white-space: nowrap;
	width: 15em;
	min-width: 15em;
	max-width: 15em;
	}
.load-cell {
	background-color: white;
	border: 1px solid gray;
	padding: 3px;
	width: 3em;
	min-width: 3em;
	max-width: 3em;
	}
.load-cell-r {
	background-color: white;
	border: 1px solid gray;
	padding: 3px;
	width: 3em;
	min-width: 3em;
	max-width: 3em;
	text-align: right;
	}
.role-cell {
	background-color: white;
	border: 1px solid gray;
	padding: 3px;
	width: 6em;
	min-width: 6em;
	max-width: 6em;
	}
.log-cell-r {
	background-color: white;
	border: 1px solid gray;
	padding: 3px;
	text-align: right;
	}
#jump-log {
	max-height: 28em;
	width: 34em;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	padding-right: 1em;
	}
#ledger-log {
	max-height: 28em;
	width: 53em;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	padding-right: 1em;
	}
.label {
	text-align: right;
	}
.date {
	width: 7em;
	}
.header-cell {
	text-align: center;
	background-color: #dddddd;
	}
.charge-widget {
	width: 15em;
	min-width: 15em;
	max-width: 15em;
	}
#payment {
	float: left;
	display: none;
	border: 1px solid gray;
	margin-right: 1em;
	padding: 0.2em;
	}
#cardset {
	float: left;
	border: 1px solid gray;
	padding: 1em;
	}
.man-btn {
	width: 8em;
	text-align: center;
	font-weight: bold;
	}
#man-header {
	margin-top: 1em;
	margin-bottom: 1em;
	}
</style>
<div id="tabs"><ul>
<li><a href="#tabs-jump-log">Jump Log</a></li>
<li><a href="#tabs-acct">Account</a></li>
<li><a href="#tabs-profile">Personal</a></li>
<li><a href="#tabs-manifest">Self-Manifest</a></li>
</ul>
<div id="tabs-jump-log" style="background-color: white">
<div style="float: left">
<table class="log-table"><tr>
<th class="date-cell header-cell">Date</th>
<th class="aircraft-cell header-cell">Aircraft</th>
<th class="load-cell header-cell">Load</th>
<th class="role-cell header-cell">Type</th>
</tr></table>
<div id="jump-log">please wait...</div>
<div>Count: <span id="jump-total"></span></div>
</div>
<div style="float: left; margin-left: 1em">
<table>
<tr><td class="label">
<abbr title="blank implies first date of record">From Date</abbr>:</td>
<td><input type="text" class="date"
		onchange="date_change(this)" id="log-from-date"/>
<input type="hidden" id="log-from-date-alt" value=""/></td></tr>
<tr><td class="label">
<abbr title="blank implies most recent date of record">To Date</abbr>:</td>
<td><input type="text" class="date"
		onchange="date_change(this)" id="log-to-date"/>
<input type="hidden" id="log-to-date-alt" value=""/>
<select title="date range presets"
	id="date-presets" onchange="set_log_dates(this)">
<option value="all">All Dates</option>
<option value="today">Today</option>
<option value="weekend">This (Past) Weekend</option>
<option value="tmonth">This Month</option>
<option value="lmonth">Last Month</option>
<option value="tyear">This Year</option>
<option value="lyear">Last Year</option>
<option value="manual">Manual</option>
</select>
</td></tr>
<tr><td class="label">Aircraft:</td>
<td class="checkbox-cell" id="jump-aircraft"></td></tr>
<tr><td class="label">Skydives:</td>
<td class="checkbox-cell" id="jump-types"></td></tr>
<tr><td></td>
<td><input type="button" id="search"
	value="Search" onclick="get_log()"/></td></tr>
</table>
</div>
<div style="clear: left"></div>
</div>
<div id="tabs-acct" style="background-color: white">
<table class="ledger-table"><tr>
<th class="date-cell header-cell">Date</th>
<th class="ledger-detail-cell header-cell">Detail</th>
<th class="ledger-acct-cell header-cell">Transfer</th>
<th class="money-cell header-cell">Credit</th>
<th class="money-cell header-cell">Debit</th>
<th class="money-cell header-cell">Balance</th>
</tr></table>
<div id="ledger-log">please wait...</div>
<div>Count: <span id="ledger-total"></span></div>
<div style="margin-top: 0.3em">
<div id="payment">
<table>
<tr><td colspan="2" style="font-weight: bold; text-align: center">
Credit Your Account
</td></tr>
<tr><td class="label"><abbr title="Your card will be charged for the amount plus a service fee.">Amount</abbr>:</td>
<td><input type="text" style="text-align: right; width: 8em"
	tabindex="1"
	value="[[BALANCE]]"
	onchange="Payment.show_fee()"
	onkeyup="Payment.show_fee()"
	id="pay-amount"/> <b>+</b>
<input type="text" readonly="readonly"
	title="card processing fee"
	style="text-align: right; width: 4em"
	id="pay-fee"/>
</td></tr>
<tr><td class="label"><abbr title="address to send confirmation">Email</abbr>:</td>
<td><input type="text" class="charge-widget" tabindex="2"
	id="pay-email"/></td></tr>
<tr><td class="label">Charge To:</td>
<td><select id="charge-to"
	class="charge-widget"
	style="text-align: center" tabindex="3"></select></td></tr>
<tr>
<td align="right"><input type="checkbox" id="card-remember"/></td>
<td><abbr title="You may keep one card securely on file for future use.">remember new card</abbr></td>
</tr>
<tr><td></td>
<td><button tabindex="4"
	class="charge-widget"
	id="pay-button"
	onclick="Payment.pay_up(card_response)">Submit Payment</button></td>
</tr>
</table>
</div>
<div id="cardset">
<div style="text-align: center; font-weight: bold">
Your Payment Cards
</div>
<p id="card-list"></p>
</div>
<div style="clear: left"></div>
</div>
</div>
<div id="tabs-profile" style="background-color: white">please wait...</div>
<div id="tabs-manifest" style="background-color: white">
<div id="manifest-clicks"></div>
</div>
</div>
<script type="text/javascript" src="/js/people_lib.js"></script>
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="/js/payment.js"></script>
<script type="text/javascript" src="/js/longpoll.js"></script>
