<link rel="stylesheet" href="/css/people.css"/>
<style type="text/css" scoped>
#chart_hdr {
	border: 2px #1c2931 solid;
	margin-bottom: 0;
	border-bottom: 0px;
	/* detail + lname + fname + uspa + license + 3*date */
	width: 66.5em;
	}
#chart_body {
	border: 2px #1c2931 solid;
	margin-bottom: 0.5em;
	overflow: auto;
	height: 40em;
	/* chart_hdr + scroller track (1.1em) */
	width: 67.6em;
	}
.hcell {
	/*border: 1px solid gray;*/
	padding: 0px;
	color: white;
	background-color: #537a94;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	}
.rcell {
	padding: 0px;
	background-color: white;
	border: 1px solid gray;
	width: 100%;
	}
.cliner {
	padding: 3px;
	}
.tint_row {
	background-color: #dddddd;
	}
.plain_row {
	}
#title {
	color: #537a94;
	}
#people_chart {
	/*width: 70em;*/
	}
.detail_col {
	width: 1.5em;
	}
.lname_col {
	width: 10em;
	}
.fname_col {
	width: 14em;
	}
.uspa_col {
	width: 6em;
	}
.license_col {
	width: 8em;
	}
.date_col {
	width: 9em;
	}
.cell_box {
	width: 96%;
	}
.spinner {
	position: fixed;
	top: 50%;
	left: 40%;
	margin-left: -33px; /* half width of the spinner gif */
	margin-top: -33px; /* half height of the spinner gif */
	text-align:center;
	color: #444444;
	z-index:1234;
	width: 66px; /* width of the spinner gif */
	height: 66px; /*hight of the spinner gif */
	display: none;
	}
</style>
<div>
</div>
<input type="button" id="new_btn" value="New" style="width: 6em"
	title="create new entry"
	class="rounded-corners-5"
	onclick="people_new()"/>
<input type="button" class="helpbtn rounded-corners-5" value="Help"
	onclick="Help.open_wiki('People')"/>
Find:<select id="active-filter" onchange="load_records()">
<option value="0">All Records</option>
<option value="60" selected="selected">Active Last 60 Days</option>
<option value="12" selected="selected">Active Last 12 Months</option>
</select>
<span id="reccount">please wait...</span>
<input type="button" class="helpbtn rounded-corners-5"
	value="Refresh" onclick="load_records()"/>
<input type="button" class="helpbtn rounded-corners-5"
	title="find possible duplicate records"
	value="Dups?" onclick="find_dups()"/>
<div id="people_chart" style="margin-top: 3px">[[CHART]]</div>
<div id="spinner" class="spinner">
<img src="/img/spinner.gif" alt="Loading..."/>
loading...
</div>
<script type="text/javascript" src="/js/people_lib.js"></script>
