<div style="background-color: white; border: 1px solid gray; padding: 0.5em; width: 100%">
<table><tr>
<td style="vertical-align: top"> <!-- FIRST CELL -->
<div class="people-detail-section">
<table>
<tr>
<th class="people-detail-hdr" colspan="2">Name</th>
</tr>
<tr>
<td class="people-detail-label"
	id="people-[[NAME_1_PRE]]-name[[PID]]-label">[[NAME_1_LABEL]]</td>
<td><input type="text" id="people-[[NAME_1_PRE]]-name[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[NAME_1_VALUE]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-[[NAME_2_PRE]]-name[[PID]]-label">[[NAME_2_LABEL]]</td>
<td><input type="text" id="people-[[NAME_2_PRE]]-name[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[NAME_2_VALUE]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-goes-by[[PID]]-label">Goes By</td>
<td><input type="text" id="people-goes-by[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[GOES_BY]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-nickname[[PID]]-label">Nickname</td>
<td><input type="text" id="people-nickname[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[NICKNAME]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-disambiguate[[PID]]-label"
	title="disambiguation, to distinguish people with similar names">Disamb.</td>
<td><input type="text" id="people-disambiguate[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[DISAMBIGUATE]]"/></td>
</tr>
</table></div>
<div class="people-detail-section">
<div class="people-detail-hdr" style="text-align: center">Status</div>
<div style="float: left" title="tandem student">
<input type="radio" name="status[[PID]]" value="TAN"[[CHECKED_TAN]]
	onclick="People.ratings([[PID]])">Tandem
</div>
<div style="float: left">
<input type="radio" name="status[[PID]]" value="STU"[[CHECKED_STU]]
	onclick="People.ratings([[PID]])">AFF Student
</div>
<div style="float: left">
<input type="radio" name="status[[PID]]" value="UNL"[[CHECKED_UNL]]
	onclick="People.ratings([[PID]])"><abbr title="training completed, not yet licensed">Novice</abbr>
</div>
<div style="float: left">
<input type="radio" name="status[[PID]]" value="LIC"[[CHECKED_LIC]]
	onclick="People.ratings([[PID]])">Licensed
</div>
<div style="float: left">
<input type="radio" name="status[[PID]]" value="FRIEND"[[CHECKED_FRIEND]]
	onclick="People.ratings([[PID]])"><abbr title="non-jumping visitor; friend, family member">Visitor</abbr>
</div>
<div style="clear: left"></div>
<hr/>
<div style="float: left" title="AFF instructor">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-affi[[PID]]"[[CHECKED_AFFI]][[ENABLE_INS]]/>AFFI
</div>
<div style="float: left" title="tandem instructor">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-ti[[PID]]"[[CHECKED_TI]][[ENABLE_INS]]/>TI
</div>
<div style="float: left" title="camera">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-vid[[PID]]"[[CHECKED_VID]][[ENABLE_INS]]/>VID
</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-coach[[PID]]"[[CHECKED_COACH]][[ENABLE_INS]]/>Coach
</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-pilot[[PID]]"[[CHECKED_PILOT]]/>Pilot
</div>
<div style="float: left" title="DZ maintenance">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-maint[[PID]]"[[CHECKED_MAINT]]/>Maint.
</div>
<div style="float: left" title="manifest worker">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-manifest[[PID]]"[[CHECKED_MANIFEST]]/>Manifest
</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-packer[[PID]]"[[CHECKED_PACKER]]/>Packer
</div>
<div style="clear: left"></div>
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-active[[PID]]"[[CHECKED_ACTIVE]]/>Active
<div>
<span id="people-exit-weight[[PID]]-label">Exit Weight</span>
<input type="text"
	style="text-align: right; width: 3em"
	id="people-exit-weight[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[EXIT_WEIGHT]]"/>lbs
</div>
</div>
</td>
<td style="vertical-align: top"> <!-- SECOND CELL -->
<div class="people-detail-section">
<table>
<tr>
<th class="people-detail-hdr" colspan="2">Address</th>
</tr>
<tr>
<td class="people-detail-label"
	id="people-street1[[PID]]-label">Street 1</td>
<td><input type="text" id="people-street1[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[STREET1]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-street2[[PID]]-label">Street 2</td>
<td><input type="text" id="people-street2[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[STREET2]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-city[[PID]]-label">City</td>
<td><input type="text" id="people-city[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[CITY]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-state[[PID]]-label">State</td>
<td><input type="text" id="people-state[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[STATE]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-zipcode[[PID]]-label">Zipcode</td>
<td><input type="text" id="people-zipcode[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[ZIP]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-country[[PID]]-label">Country</td>
<td><input type="text" id="people-country[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[COUNTRY]]"/></td>
</tr>
</table></div>
<div class="people-detail-section">
<table>
<tr>
<th class="people-detail-hdr" colspan="2">USPA</th>
</tr>
<tr>
<td class="people-detail-label"
	id="people-uspa-id[[PID]]-label">USPA ID</td>
<td><input type="text" id="people-uspa-id[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[USPA_ID]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-license[[PID]]-label">License</td>
<td><input type="text" id="people-license[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[LICENSE]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-uspa-expires[[PID]]-label">Expires</td>
<td><input type="text" id="people-uspa-expires[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[EXPIRES]]"/></td>
</tr>
</table></div>
</td>
<td style="vertical-align: top"> <!-- THIRD CELL -->
<div class="people-detail-section">
<table>
<tr>
<th class="people-detail-hdr" colspan="2">Contacts</th>
</tr>
<tr>
<td class="people-detail-label"
	id="people-phone-home[[PID]]-label">Home Phone</td>
<td><input type="text" id="people-phone-home[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[HOME_PHONE]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-phone-mobile[[PID]]-label">Mobile Phone</td>
<td><input type="text" id="people-phone-mobile[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[MOBILE_PHONE]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-email[[PID]]-label">Email</td>
<td><input type="text" id="people-email[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[EMAIL]]"/></td>
</tr>
<tr>
<td class="people-detail-label"><abbr title="email reminders for repack, waiver, USPA membership">Remind</abbr></td>
<td><input type="checkbox"
	id="people-remind[[PID]]"[[CHECKED_REMIND]]
		onclick="People.remind_check_email('people-email[[PID]]',this)"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-emerg-contact[[PID]]-label">Emerg. Contact</td>
<td><input type="text" id="people-emerg-contact[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[EMERG_CON]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-emerg-phone[[PID]]-label">Emerg. Phone</td>
<td><input type="text" id="people-emerg-phone[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[EMERG_PHONE]]"/></td>
</tr>
</table></div>
<div class="people-detail-section">
<table>
<tr>
<th class="people-detail-hdr" colspan="2">Misc</th>
</tr>
<tr>
<td class="people-detail-label"
	id="people-last-repack[[PID]]-label"><abbr
	title="hover over box to see next due date">Repack</abbr></td>
<td><input type="text" id="people-last-repack[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	onmouseover="People.show_repack_due(this,[[REPACK_CYCLE]],'[[DATE_FORMAT]]')"
	value="[[REPACK]]"/>
</td>
</tr>
<tr>
<td class="people-detail-label"
	id=people-last-repack-2[[PID]]-label"><abbr
	title="hover over box to see next due date">Repack 2</abbr></td>
<td><input type="text" id="people-last-repack-2[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	onmouseover="People.show_repack_due(this,[[REPACK_CYCLE]],'[[DATE_FORMAT]]')"
	value="[[REPACK2]]"/>
</td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-waiver-date[[PID]]-label">Waiver</td>
<td><input type="text" id="people-waiver-date[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[WAIVER]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-birth[[PID]]-label">Birthdate</td>
<td><input type="text" id="people-birth[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[DOB]]"/></td>
</tr>
<tr>
<td class="people-detail-label"
	id="people-gearrent[[PID]]-label">Gear Rental</td>
<td><input type="text" id="people-gearrent[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[GEAR_RENTAL]]"/></td>
</tr>
</table>
</div>
</td>
</tr>
<tr id="people-notes-section">
<td colspan="3">
<div class="people-detail-hdr"
	style="text-align: center">Notes</div>
<div id="people-notes[[PID]]"
	style="width: 95%"
	>[[NOTES]]</div>
</td>
<td></td>
</tr>
<tr>
<td colspan="3">
<div class="people-detail-section" id="people-authblock[[PID]]"
	style="display: none; width: 90%">
<table>
<tr><td colspan="2">
<div style="float: left">
<span class="people-detail-label"
	id=people-username[[PID]]-label">Username</span>
<input type="text"
	id="people-username[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[USERNAME]]"
	style="width: 10em"
	onkeyup="check_available(this, [[PID]])"/>
</div>
<div id="people-namecheck[[PID]]"
	style="float: left; padding-left: 0.5em; width: 4em; font-weight: bold">&nbsp;</div>
<div style="float: left; padding-left: 1em">
<span class="people-detail-label"
	id=people-password[[PID]]-label">Password</span>
<input type="text" id="people-password[[PID]]"
	onkeydown="return People.warn_save(this, event)"
	onchange="return People.do_save(this)"
	value="[[PASSWORD]]"
	style="width: 10em"
	onfocus="this.value=''"
	onkeyup="document.getElementById('people-passtouch[[PID]]').value='1'"/>
<input type="hidden" id="people-passtouch[[PID]]" value="0"/>
</div>
<div id="people-confirm" style="float: left; padding-left: 1em; display: none">
<span class="people-detail-label">Confirm</span>
<input type="password" style="width: 10em" id="people-confirm[[PID]]" value=""/>
</div>
<div style="clear: left"></div>
</td>
</tr>
<tr id="people-authorizations">
<td class="people-detail-label">Authorizations</td>
<td>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-admin[[PID]]"[[CHECKED_AUTH_ADMIN]]/>Admin</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-manifest[[PID]]"[[CHECKED_AUTH_MANIFEST]]/>Manifest</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-accounting[[PID]]"[[CHECKED_AUTH_ACCOUNTING]]/>Accounting</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-people[[PID]]"[[CHECKED_AUTH_PEOPLE]]/>People</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-products[[PID]]"[[CHECKED_AUTH_PRODUCTS]]/>Products</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-aircraft[[PID]]"[[CHECKED_AUTH_AIRCRAFT]]/>Aircraft</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-backups[[PID]]"[[CHECKED_AUTH_BACKUPS]]/>Backups</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-settings[[PID]]"[[CHECKED_AUTH_SETTINGS]]/>Settings</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-reports[[PID]]"[[CHECKED_AUTH_REPORTS]]/>Reports</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-reservations[[PID]]"[[CHECKED_AUTH_RESERVATIONS]]/>Reservations</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-whiteboard[[PID]]"[[CHECKED_AUTH_WHITEBOARD]]/>Whiteboard</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-schedule[[PID]]"[[CHECKED_AUTH_SCHEDULE]]/>Schedule</div>
<div style="float: left">
<input type="checkbox"
	onclick="People.do_save(this)"
	id="people-auth-remote[[PID]]"[[CHECKED_AUTH_REMOTE]]/><abbr title="can work remotely">Remote</abbr></div>
<div style="clear: left"></div>
</td>
</tr>
</table>
</div>
</td>
</tr>
<tr>
<td colspan="3">
<div style="width: 30em; margin: auto">
<input type="button" class="people-detail-btn" value="Save"
	id="people-save-button[[PID]]"/>
<input type="button" class="people-detail-btn" value="Cancel"
	id="people-cancel-button[[PID]]"/>
<input type="button" class="people-detail-btn"
	value="Delete"[[DELETE_DISABLE]][[DELETE_TITLE]]
	id="people-del-button[[PID]]"/>
</div>
</td>
</tr>
</table>
</div>
