<style type="text/css" scoped>
.category {
	padding: 3px;
	border: 1px solid black;
	margin-bottom: 2px;
	margin-left: 0;
	width: 50em;
	font-weight: bold;
	background-color: #dddddd;
	list-style-type: none;
	}
.item {
	padding: 3px;
	border: 1px solid black;
	margin-bottom: 2px;
	margin-left: 0;
	width: 46em;
	font-weight: normal;
	background-color: white;
	list-style-type: none;
	}
.divider {
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid black;
	margin-bottom: 2px;
	margin-left: 0;
	width: 46em;
	height: 4px;
	background-color: #537a94;
	list-style-type: none;
	}
.item-list {
	margin-top: 0.3em;
	}
#categories {
	padding: 0.5em;
	margin: 0.5em;
	margin-top: 1em;
	}
.add-button {
	width: 8em;
	}
.item-amt {
	font-weight: bold;
	float: right;
	}
.item-edit {
	margin-top: 3px;
	border: 1px solid gray;
	}
.money {
	text-align: right;
	width: 5em;
	}
.item-label {
	float: left;
	font-weight: bold;
	}
.edit-label {
	text-align: right;
	font-size: 75%;
	width: 10em;
	vertical-align: top;
	}
.apropos-label {
	font-size: 75%;
	}
.edit-btn {
	width: 5em;
	font-size: 75%;
	}
</style>
<div id="categories">
[[CATEGORY_MENU]]
</div>
