<table style="width: 100%">
<tr>
<td class="edit-label">Price:</td>
<td><input id="cash[[ITEM_ID]]" type="text" class="money"
	value="[[CASH_PRICE]]"/></td>
</tr>
<tr>
<td class="edit-label" valign="top">Notes:</td>
<td><textarea id="notes[[ITEM_ID]]">[[NOTES]]</textarea></td>
</tr>
<tr>
<td class="edit-label">
<abbr title="DZ expense item">Payout:</abbr>
</td>
<td><input id="payout[[ITEM_ID]]" type="checkbox"
		title="yes, if this is a DZ expense item"
		onclick="set_roles([[ITEM_ID]])"
		[[PAYOUT_CHECKED]]/></td>
</tr>
<tr>
<td class="edit-label">
<abbr title="wage-paying service">Wage:</abbr>
</td>
<td><input id="wage[[ITEM_ID]]" type="checkbox"
		[[WAGE_CHECKED]]/></td>
</tr>
<tr>
<td class="edit-label">
<abbr title="set amount to account balance">Acct Balance:</abbr>
</td>
<td><input id="acctbal[[ITEM_ID]]" type="checkbox"
		[[ACCT_BAL_CHECKED]]/></td>
</tr>
<tr>
<td class="edit-label">
Acct Transfer:</td>
<td><input id="acctxfer[[ITEM_ID]]" type="checkbox"
		[[ACCT_XFER_CHECKED]]/></td>
</tr>
<tr>
<td class="edit-label">
<abbr title="sales tax charged on this item?">Sales Tax:</abbr>
</td>
<td><input id="salestax[[ITEM_ID]]" type="checkbox"
		[[SALES_TAX_CHECKED]]/></td>
</tr>
<tr>
<td class="edit-label">
<abbr title="for report filtering">Tags:</abbr>
</td><td style="max-width: 24em">
<div id="tag-set[[ITEM_ID]]">[[TAGSET]]</div>
<div id="tag-menu[[ITEM_ID]]" style="display: none"></div>
</td>
</tr>
<tr>
<td class="edit-label">
<abbr title="related service that provides this item">Served By:</abbr>
</td>
<td>[[SERVED_BY_MENU]]</td>
</tr>
<tr>
<td class="edit-label">
<abbr title="offer as an extra at manifest, via context menu">Manifest Extra:</abbr>
</td>
<td><input id="manextra[[ITEM_ID]]" type="checkbox"
		[[MANEXTRA_CHECKED]]/></td>
</tr>
<tr>
<td class="edit-label">
<abbr title="reservation offering">Reservations:</abbr>
</td>
<td><input id="reservations[[ITEM_ID]]" type="checkbox"
		[[RESERVATIONS_CHECKED]]/></td>
</tr>
<tr>
<td class="edit-label">
<abbr title="add to load sheet 'plan' menu">Manifest:</abbr>
</td>
<td><input id="manapp[[ITEM_ID]]" type="checkbox"
		onclick="manifest_toggle([[ITEM_ID]])"
		[[MANAPP_CHECKED]]/></td>
</tr>
[[APROPOS]]
<tr>
<td colspan="2">
<div style="width: 12em; margin: auto">
<input type="button" class="edit-btn"
	value="Cancel" onclick="close_item([[ITEM_ID]])"/>
<input type="button" class="edit-btn"
	value="Save" onclick="save_item(this,[[ITEM_ID]])"/>
</div>
</td>
</tr>
</table>
