<style type="text/css" scoped="scoped">
.dp {
	width: 6em;
	}
.report-label {
	text-align: right;
	}
.report-data-cell {
	border: 1px solid gray;
	padding-left: 3px;
	padding-right: 3px;
	color: black;
	background-color: #eeeeee;
	}
.report-cell-right {
	text-align: right;
	}
.report-hdr-cell {
	border: 1px solid gray;
	padding-left: 3px;
	padding-right: 3px;
	color: black;
	background-color: white;
	font-weight: bold;
	text-align: center;
	}
.report-title {
	font-size: 120%;
	font-weight: bold;
	}
.report-intro {
	width: 30em;
	display: none;
	}
.report-go-button {
	background-color: green;
	color: white;
	font-weight: bold;
	font-size: 75%;
	}
.spinner {
	position: fixed;
	top: 50%;
	left: 30%;
	margin-left: -33px;
	margin-top: -33px;
	text-align:center;
	color: #444444;
	z-index:1234;
	width: 66px;
	height: 66px;
	display: none;
	}
#tag-sets {
	min-width: 9em;
	}
</style>
<table>
<tr>
<td class="report-label">From:</td>
<td><input type="text" class="dp" id="from_date"/></td>
</tr>
<tr>
<td class="report-label">To:</td>
<td><input type="text" class="dp" id="to_date"/></td>
</tr>
<tr>
<td class="report-label">Date Presets:</td>
<td>
<select id="presets" onchange="date_preset(this)">
<option value="">Select...</option>
<option value="clear">Clear</option>
<option value="today">Today</option>
<option value="week">This Week</option>
<option value="month">This Month</option>
<option value="q1">Q1</option>
<option value="q2">Q2</option>
<option value="q3">Q3</option>
<option value="q4">Q4</option>
<option value="year">This Year</option>
<option value="lyear">Last Year</option>
</select>
</td>
</tr>
<tr>
<td class="report-label"><abbr
	title="personal jump log and accounting reports">Person</abbr>:</td>
<td>
<input type="text" id="customer" value=""
	class="report-customer ui-widget"
	onfocus="live_search(this)"/>
<input type="hidden" id="customer-id" value=""/>
</td>
</tr>
<tr>
<td class="report-label" valign="top"><abbr
	title="for product item/service queries">Tags</abbr>:</td>
<td>
<input type="text" id="tags" value=""
	class="report-customer ui-widget"/>
<img title="select tags for query"
	src="/img/addtag.png" alt="select tags"
	onclick="toggle_tag_menu()"/>
<img src="/img/notepad-16.png" title="save these tags in a preset"
	onclick="open_preset_form()"/>
<div id="tag-menu" style="width: 40em; display: none"></div>
</td>
</tr>
<tr>
<td class="report-label" valign="top"><abbr
	title="saved tag queries">Tag Presets</abbr>:</td>
<td>
<div id="preset-name-box" style="display: none">
<input type="text" id="preset-name"
	placeholder="tag preset name"/>
<input type="button" value="Save"
	onclick="save_tag_preset()"/>
</div>
<div>
<select id="tag-sets" onchange="set_selected(this)">
</select>
<img title="remove this preset"
	id="tag-remove" style="display: none"
	src="/img/delete-8.png" alt="remove"
	onclick="drop_preset_tag()"/>
</div>
</td>
</tr>
<tr>
<td class="report-label"><abbr
	title="applied to expiration reports">Jumped this Year</abbr>:</td>
<td>
<input type="checkbox" id="jumped-this-year"/>
</td>
</tr>
</table>
<ul>
<li>
<a href="#" onclick="open_report('custjump'); return false">Person Skydives</a>
<div id="custjump" class="report-intro">
Display jumps made by customer over a given date range (optional).
Default range is all recorded skydives. Please select a customer.
<br/><input type="button" class="report-go-button rounded-corners-5" onclick="run_report('custjump', false)" value="GO"/>
</div>
</li>
<li>
<a href="#" onclick="open_report('custacct'); return false">Person Account Transactions</a>
<div id="custacct" class="report-intro">
Display customer account activity over a given date range (optional).
Default range is all recorded transactions. Please select a customer.
<br/><input type="button" class="report-go-button rounded-corners-5" onclick="run_report('custacct', false)" value="GO"/>
</div>
</li>
<li>
<a href="#" onclick="open_report('resvood'); return false">Reserves Out-of-Date</a>
<div id="resvood" class="report-intro">
Provide an optional date ("To") to see reserves that will have
expired by that date. Default is the current date.
<br/><input type="button" class="report-go-button rounded-corners-5" onclick="run_report('resvood', false)" value="GO"/>
</div>
</li>
<li>
<a href="#" onclick="open_report('uspaexp'); return false">USPA Membership Expirations</a>
<div id="uspaexp" class="report-intro">
Provide an optional date ("To") to see memberships that will have
expired by that date. Default is the current date.
<div>
<input type="checkbox" id="temp-memberships"/>temporary memberships only, all expiration dates
</div>
<div><input type="button" class="report-go-button rounded-corners-5" onclick="run_report('uspaexp', false)" value="GO"/></div>
</div>
</li>
<li>
<a href="#" onclick="open_report('waiver'); return false">DZ Waiver Expirations</a>
<div id="waiver" class="report-intro">
Provide an optional date ("To") to see waivers that will have
expired by that date. Default is the current date.
<br/><input type="button" class="report-go-button rounded-corners-5" onclick="run_report('waiver', false)" value="GO"/>
</div>
</li>
<li>
<a href="#" onclick="open_report('taxsales'); return false">Taxed Sales</a>
<div id="taxsales" class="report-intro">
Select any date range of interest (quarter, year, etc) and zero or
more product tags. Default range is the current date.
<br/><input type="button" class="report-go-button rounded-corners-5" onclick="run_report('taxsales', false)" value="GO"/>
</div>
</li>
<li>
<a href="#" onclick="open_report('notaxsales'); return false">Untaxed Sales</a>
<div id="notaxsales" class="report-intro">
Select any date range of interest (quarter, year, etc) and zero or
more product tags. Default range is the current date.
<br/><input type="button" class="report-go-button rounded-corners-5" onclick="run_report('notaxsales', false)" value="GO"/>
</div>
</li>
<li>
<a href="#" onclick="open_report('payouts'); return false">Staff Wages</a>
<div id="payouts" class="report-intro">
Select any date range of interest; quarter, year, etc.
Default is the current date.
<br/><input type="button" class="report-go-button rounded-corners-5" onclick="run_report('payouts', false)" value="GO"/>
</div>
</li>
<li>
<a href="#" onclick="open_report('sales'); return false">Product Sales</a>
<div id="sales" class="report-intro">
Select date range of interest and zero or more product tags.
<br/><input type="button" class="report-go-button rounded-corners-5" onclick="run_report('sales', false)" value="GO"/>
</div>
</li>
<li>
<a href="#"
	onclick="open_report('wtbal'); return false">Weight and Balance</a>
<div id="wtbal" class="report-intro">
Display weight and balance per aircraft and load over a given date range.
Default range is all recorded loads.
<br/><input type="button" class="report-go-button rounded-corners-5" onclick="run_report('wtbal', false)" value="GO"/>
</div>
</li>
</li>
</ul>
<div id="report"></div>
<div id="spinner" class="spinner">
<img src="/img/spinner.gif" alt="Crunching..."/>
Crunching...
</div>
