<style type="text/css" scoped>
#reservations-form {
	width: 80em;
	border: 2px #1c2931 solid;
	margin-bottom: 0.5em;
	margin-top: 1em;
	background-color: #eeeeee;
	padding: 0.5em;
	display: none;
	}
#reservations-chart {
	width: 80em;
	margin-top: 1em;
	}
#hold-chart {
	width: 80em;
	margin-top: 1em;
	display: none;
	}
.reservations-day {
	border: 2px #1c2931 solid;
	margin-bottom: 0.5em;
	background-color: #eeeeee;
	padding: 0.5em;
	}
#res-name {
	}
.date-box {
	width: 7em;
	color: gray;
	text-align: right;
	}
.date-box-edit {
	width: 7em;
	text-align: right;
	}
#form-header {
	width: 100%;
	text-align: center;
	margin: auto;
	font-size: 115%;
	font-weight: bold;
	}
.paid-box {
	width: 5em;
	text-align: right;
	color: gray;
	}
.paid-box-edit {
	width: 5em;
	text-align: right;
	}
.rjust {
	text-align: right;
	}
.res-cell {
	padding: 3px;
	border: 1px solid black;
	}
.log-block {
	padding: 3px;
	}
.log-cell {
	padding: 1px;
	border: 1px solid black;
	background-color: #ffffff;
	}
.log-num-cell {
	padding: 1px;
	border: 1px solid black;
	background-color: #ffffff;
	text-align: right;
	}
.log-hdr {
	font-size: 75%;
	font-weight: bold;
	text-align: left;
	}
.log-num-hdr {
	font-size: 75%;
	font-weight: bold;
	text-align: right;
	}
.form-btn {
	font-weight: bold;
	text-align: center;
	width: 8em;
	}
.cancel {
	font-weight: bold;
	text-align: center;
	padding-top: 4px;
	width: 1em;
	vertical-align: middle;
	}
.amount-due {
	font-weight: bold;
	color: #d40707;
	}
.amount-paid {
	font-weight: normal;
	}
.marker-5 {
	padding: 3px;
	text-align: right;
	font-weight: bold;
	width: 5em;
	font-size: 75%;
	color: white;
	background-color: #888888;
	border: 1px solid black;
	}
.marker-6 {
	padding: 3px;
	text-align: right;
	font-weight: bold;
	width: 6em;
	font-size: 75%;
	color: white;
	background-color: #888888;
	border: 1px solid black;
	}
.hdr5 {
	text-align: center;
	width: 5em;
	font-weight: bold;
	}
.hdr6 {
	text-align: center;
	width: 6em;
	font-weight: bold;
	}
.hdr8 {
	text-align: center;
	width: 8em;
	font-weight: bold;
	}
.hdrl {
	text-align: center;
	font-weight: bold;
	}
.search-btn {
	background-image: url(/img/search-32.png);
	background-color: transparent;
	border: none;
	height: 32px;
	width: 32px;
	}
#group-confirm-dialog {
	width: 20em;
	height: 5em;
	display: none;
	}
.checklist {
	display: none;
	}
#db-matches {
	display: none;
	}
.spinner {
	position: fixed;
	top: 50%;
	left: 40%;
	margin-left: -33px; /* half width of the spinner gif */
	margin-top: -33px; /* half height of the spinner gif */
	text-align:center;
	color: #444444;
	z-index:1234;
	width: 66px; /* width of the spinner gif */
	height: 66px; /*hight of the spinner gif */
	display: none;
	}
.super-note {
	font-size: 140%;
	font-weight: bold;
	color: #6600cc;
	}
</style>
<div id="group-confirm-dialog" title="Group Confirm">
Confirm whole group?
<div style="font-size: 75%">(No: individual confirmation only.)</div>
</div>
<div id="db-matches">
</div>
<div id="form-toggler" style="display: none">
<img src="/img/new-reserve.png"
	title="click to open or close reservation entry form"
	onclick="toggle_new_res();return false"
	alt="new reservation"/>
</div>
<div id="reservations-form" class="rounded-corners-10">
<div id="form-header">New Reservation</div>
<table>
<tr>
<td class="rjust">Name:</td>
<td><input type="text" id="res-name" tabindex="1"
	onfocus="live_name_search(this)"
	value=""/></td>
<td class="rjust">for a</td>
<td>
<select id="res-jump"
	onchange="select_skydive('')"
	tabindex="4">
</select>
</td>
<td class="rjust">on</td>
<td><input type="text" class="date-box" id="res-date"
	onfocus="first_focus(this)"
	title="jump date"
	tabindex="6" value=""/>
<input type="hidden" id="res-date-fmt" value=""/>
</td>
</tr>
<tr><td class="rjust">Email:</td>
<td><input type="text" id="res-email" tabindex="2"
	onfocus="live_email_search(this)"
	value=""/></td>
<td class="rjust">with</td>
<td>
<select id="res-media" tabindex="5">
</select>
</td>
<td class="rjust">at</td>
<td><select id="res-slot" tabindex="7"></select>
</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><input type="button" title="click to open"
	onclick="toggle_checklist('')"
	value="Checklist"/>
<div id="checklist" class="checklist">
<div><input type="checkbox" id="chk-age"/>18 or older?</div>
<div><input type="checkbox" id="chk-weight"/>OWL?</div>
<div><input type="checkbox" id="chk-deposit"/>explain payment/fee policy</div>
<div><input type="checkbox" id="chk-waiver-fee"/>$5 waiver fee</div>
<div><input type="checkbox" id="chk-audio-consent"/>audio agreement</div>
</div>
</td>
</tr>
<tr><td class="rjust">Phone:</td>
<td><input type="text" id="res-phone" tabindex="3"
	onfocus="live_phone_search(this)"
	value=""/></td>
<td class="rjust">deposit</td>
<td><input type="text" class="paid-box" id="res-paid"
	onfocus="first_focus(this)"
	tabindex="8" value="$0"/>
<abbr title="negative amount implies fee; e.g. no-show">discount</abbr>
<input type="text" id="res-discount"
	class="paid-box" tabindex="9"
	value="$0"/>
</td>
<td colspan="2">
<input type="button" class="form-btn" id="clear-button" value="Clear"
	onclick="reset_form('0')"/>
<input type="button" class="form-btn" id="save-button" value="Reserve"
	title="add this reservation"
	tabindex="10" onclick="save_res()"/>
<span id="is-returning-slot" style="font-weight: bold; color: green; display: none">
<input type="checkbox" id="is-returning" onclick="flick_returning()"/>returning
</span>
</td>
</tr>
</table>
</div> <!-- end of new-reservation form -->
<div id="search-form" style="margin-top: 0.3em; display: none">
<input style="display: none" type="text" name="chrome_bait1"/>
<input style="display: none" type="password" name="chrome_bait2"/>
<abbr title="start date (default: first date on record)">From</abbr>:
<input type="text" id="from-date" class="date-box-edit"/>
<abbr title="end date (default: last date on record)">To</abbr>:
<input type="text" id="to-date" class="date-box-edit"/>
Presets:
<select id="date-presets" onchange="preset_dates()">
<option value="today" selected="selected">From Today</option>
</select>
Student:
<input type="text" id="view-student" value=""
	autocomplete="off"
	onchange="refresh_chart()"/>
<input type="button"
	onclick="refresh_chart()"
	class="search-btn"/>
</div>
<div id="on-hold-toggler" style="display: none">
<!-- a href="#"
	title="click to view or hide all on-hold reservations"
	onclick="toggle_on_hold();return false">On Hold:
	<span id="hold-count"></span></a -->
(<span id="hold-count"></span> on hold)
<input type="checkbox"
	checked="checked"
	id="show-active"><abbr title="include active reservations in this search">active</abbr>
<input type="checkbox"
	id="show-on-hold"><abbr title="include on-hold reservations in this search">on-hold</abbr>
<input type="button" id="batch-delete" value="Batch Delete"
	disabled="disabled"
	onclick="confirm_batch_delete()"
	title="selected on-hold reservations only"/>
</div>
<div id="hold-chart"></div>
<div id="reservations-chart"></div>
<div id="spinner" class="spinner">
<img src="/img/spinner.gif" alt="Loading..."/>
loading...
</div>
<script type="text/javascript" src="/js/people_lib.js"></script>
