<link href='/css/fullcalendar.min.css' rel='stylesheet' />
<style type="text/css">
#instr-dialog {
	display: none;
	}
#entry-dialog {
	display: none;
	}
#work-dialog {
	display: none;
	width: 80em;
	}
.work-cell {
	border: 1px solid grey;
	padding-left: 4px;
	padding-right: 4px;
	}
.work-cell-rj {
	border: 1px solid grey;
	text-align: right;
	padding-left: 4px;
	padding-right: 4px;
	}
.ui-dialog-title {
	color: white;
	}
.entry-head-block {
	border: 1px solid #bbbbbb;
	padding: 3px;
	margin-bottom: 4px;
	}
.day-title {
	font-weight: bold;
	margin-left: 0.2em;
	}
.slot-count {
	float: left;
	text-align: center;
	margin-right: 2px;
	font-weight: bold;
	color: white;
	background-color: grey;
	width: 2.2em;
	}
</style>
<div id="calendar"></div>
<div id="instr-dialog"></div>
<div id="entry-dialog"></div>
<div id="work-dialog"></div>
