<style type="text/css" scoped>
.hcell {
	border: 1px solid gray;
	padding: 4px;
	color: white;
	background-color: #537a94;
	font-weight: bold;
	vertical-align: middle;
	width: 100%;
	}
.bcell {
	border: 1px solid gray;
	padding: 0px;
	width: 100%;
	}
.scratch {
	font-size: 50%;
	color: white;
	font-weight: bold;
	background-color: #946d52;
	}
.scratch:disabled {
	background-color: #bbbbbb;
	}
#title {
	color: #537a94;
	}
#settings_chart {
	width: 60em;
	border: 2px #1c2931 solid;
	margin-bottom: 0.5em;
	background-color: #eeeeee;
	padding: 0.5em;
	}
#save-button {
	width: 6em;
	display: block;
	background-color: #bbbbbb;
	color: white;
	font-weight: bold;
	float: left;
	}
#reset-button {
	width: 6em;
	margin-left: 1em;
	background-color: #bbbbbb;
	color: white;
	font-weight: bold;
	float: left;
	}
.settings-menu {
	width: 12em;
	}
</style>
<div id="settings_chart" class="rounded-corners-10">
<div id="settings-table">[[CHART]]</div>
<div style="display: block; margin: auto; width: 16em">
<input type="button" value="Save" id="save-button" disabled="disabled"
	onclick="save_settings()"/>
<input type="button" value="Revert" id="reset-button" disabled="disabled"
	onclick="show_chart()"/>
<div style="clear: left"></div>
</div>
</div>
<div id="settings_help" style="display: none; width: 40em">
[[HELP]]
</div>
