<style type="text/css">
#chart {
	margin-top: 1em;
	}
.chart-cell {
	background-color: white;
	border: 1px solid gray;
	padding-left: 3px;
	padding-right: 3px;
	}
.chart-cell-top {
	background-color: white;
	border: 1px solid gray;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	}
.text-box {
	background-color: white;
	border: 1px solid gray;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: top;
	white-space: pre-wrap;
	}
</style>
<input type="button" value="Refresh"
	title="refresh the chart" onclick="chart(0)"/>
<select id="appmenu" title="new squawk: select app"
	onclick="select_app()">
<option value="">Select App...</option>
</select>
<input type="button" value="Squawk!"
	id="squawk-button" disabled="disabled"
	title="make new squawk" onclick="make_squawk()"/>
<div id="chart"></div>
<script type="text/javascript">
function chart(open_sid) {
	$.get("/squawk/chart", {},
			function(resp) {
				var div = document.getElementById("chart");
				div.innerHTML = resp.html;
				if (open_sid > 0) edit_squawk(open_sid);
				}, "json");
	}
function delete_squawk(sid) {
	local_confirm("Delete Squawk", "Yep", "eek! No!",
		function() {
			$.get("/squawk/delete", { id: sid },
					function(resp) {
						chart(0);
						}, "json");
			}, null,
		"Sure? You're about to delete this squawk forever."
		);
	}
function update_squawk(sid, cell) {
	var text = cell.childNodes[0].value;
	$.post("/squawk/update", { id: sid, text: text },
			function(resp) {
				var text_node = document.createTextNode(resp.text);
				cell.removeChild(cell.childNodes[0]);
				cell.appendChild(text_node);
				}, "json");
	}
function edit_squawk(sid) {
	var cell = document.getElementById("desc" + sid);
	if (cell == null) return;
	if (cell.childNodes[0].tagName == "TEXTAREA") {// save edit
		update_squawk(sid, cell);
		return;
		}
	var width = cell.getBoundingClientRect().width;
	var text = cell.innerText;
	var box = document.createElement("TEXTAREA");
	cell.removeChild(cell.childNodes[0]);
	cell.style.whiteSpace = "pre-wrap";
	box.value = text;
	box.rows = 3;
	box.style.width = (width - 6) + "px";
	cell.appendChild(box);
	box.focus();
	}
function make_appmenu() {
	$.get("/index/menu", {},
		function(resp) {
			var menu = document.getElementById("appmenu");
			menu.options.length = 0;
			menu.add(new Option("Select App...", ""));
			for (i = 0; i < resp.menu.length; i++) {
				menu.add(new Option(resp.menu[i][1],
					resp.menu[i][0].substring(1)));
				}
			}, "json");
	}
function select_app() {
	var menu = document.getElementById("appmenu");
	var app = menu.options[menu.selectedIndex].value
	document.getElementById("squawk-button").disabled = (app == "");
	}
function make_squawk() {
	var menu = document.getElementById("appmenu");
	var app = menu.options[menu.selectedIndex].value
	$.get("/squawk/new", { app: app },
		function(resp) {
			chart(resp.id);
			}, "json");
	}
function init() {
	mark_page("Squawk");
	make_appmenu();
	chart(0);
	}
</script>
