<style type="text/css" scoped>
th {
	border: 1px solid gray;
	padding: 3px;
	color: white;
	background-color: #537a94;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	}
td {
	border: 1px solid gray;
	padding: 3px;
	color: black;
	background-color: white;
	}
.date-hdr {
	font-weight: bold;
	margin-top: 0.5em;
	}
.date-box-edit {
	width: 7em;
	text-align: right;
	}
.search-btn {
	background-image: url(/img/search-32.png);
	background-color: transparent;
	border: none;
	height: 32px;
	width: 32px;
	}
#today {
	font-weight: bold;
	font-size: 120%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	}
.spinner {
	position: fixed;
	top: 50%;
	left: 40%;
	margin-left: -33px; /* half width of the spinner gif */
	margin-top: -33px; /* half height of the spinner gif */
	text-align:center;
	color: #444444;
	z-index:1234;
	width: 66px; /* width of the spinner gif */
	height: 66px; /*hight of the spinner gif */
	display: none;
	}
#people-dialog {
	display: none;
	}
#local-button {
	width: 4em;
	}
#patron-select {
	width: 20em;
	}
</style>
<div id="search-form" style="margin-top: 0.3em">
<abbr title="start date (default: first date on record)">From</abbr>:
<input type="text" id="from-date" class="date-box-edit"/>
<abbr title="end date (default: last date on record)">To</abbr>:
<input type="text" id="to-date" class="date-box-edit"/>
Presets:
<select id="date-presets" onchange="preset_dates()">
<option value="manual">Write-In</option>
<option value="all">All</option>
<option value="month">This Month</option>
<option value="today" selected="selected">From Today</option>
</select>
<input type="button"
	onclick="load_chart()"
	class="search-btn"/>
</div>
<div id="chart" style="margin-top: 3px"></div>
<div id="obs-form" style="margin-top: 0.5em">
<input type="text" id="patron-select"
	title="type name to select patron for whiteboarding"/>
<input type="button" value="Post" class="local-button"
	id="post-button"
	title="select or add person, post to whiteboard"
	onclick="post_person()"/>
<input type="button" value="Clear" class="local-button"
	onclick="clear_post_button()"/>
</div>
<div id="spinner" class="spinner">
<img src="/img/spinner.gif" alt="Loading..."/>
loading...
</div>
<div id="people-dialog" title="People" class="rounded-corners-5"></div>
<script type="text/javascript" src="/js/people_lib.js"></script>
